.home__section {
  h1 {
    font-size: 64px;
    @media only screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }

  h2 {
    font-family: "Gelion", sans-serif !important;
  }

  h5,
  p {
    font-family: "Gelion", sans-serif !important;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
  }
  .text__pink {
    color: #b16ce9;
  }

  .card {
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.22);
    background: linear-gradient(
      90deg,
      rgba(43, 30, 22, 0.55) 0%,
      rgba(44, 28, 50, 0.5) 59.9%
    );
  }
}

.recentproject__section {
  h3 {
    color: #fff;
    font-family: "Gelion", sans-serif !important;
    font-size: 1.25rem;
  }

  p {
    color: #cdd3e6;
  }

  h6 {
    font-family: "Gelion", sans-serif !important;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 400;
  }
}

.creative__section {
  h3 {
    color: #fff;
    font-family: "Gelion", sans-serif !important;
    font-size: 1.25rem;
  }

  .creative__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    .col-md-2 {
      display: flex;
      justify-content: center;
    }
  }
  .img__custome {
    width: 90%;
  }

  @media only screen and (max-width: 768px) {
    .creative__logo {
      img {
        width: 50%;
        display: block;
        margin: 20px auto;
      }

      .img__custome {
        width: 50%;
      }
    }
  }
}
