@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&family=Roboto&display=swap");
@import url("https://db.onlinewebfonts.com/c/288480b704b52173b642af77e54fc366?family=Gelion+Semi+Bold");

@import "./styles/navbar.scss";
@import "./styles/aboutUs.scss";
@import "./styles/footer.scss";
@import "./styles/home.scss";
@import "./styles/bookshelf.scss";
@import "./styles/story.scss";
@import "./styles/timeline.scss";
@import "./styles/work.scss";
@import "./styles/interactiveFloorPlan.scss";
@import "./styles/emergencyPlans.scss";
@import "./styles/successProfileSurvey.scss";
@import "./styles/deTrack.scss";

html,
body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/BG.png");
  background-size: cover;
  overflow-x: hidden !important;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.text__gradient {
  background: linear-gradient(
    90deg,
    #1a7ad3 0.05%,
    #b16ce9 26.31%,
    #e8628e 63.18%,
    #f4751f 97.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom__gray {
  color: #cdd3e6;
}

.off__white {
  color: #ecedee;
}

.recentproject__cards {
  border-radius: 1.25rem !important;
  border: 1px solid rgba(255, 255, 255, 0.22) !important;
  background: linear-gradient(
    90deg,
    rgba(43, 30, 22, 0.55) 0%,
    rgba(44, 28, 50, 0.5) 59.9%
  ) !important;
}
